<aside class="sidebar sidebar-icons-right sidebar-icons-boxed">
    <header class="sidebar-header">
        <span class="logo">
                <a href=".">
                    <img style="max-height: 48px!important;" src="assets/img/logo.svg"
                         alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">

        <div class="sidebar-profile">
            <a href="app/profile/1">
                <img class="avatar" src="../assets/img/avatar/1.jpg" alt="...">
            </a>
            <div class="profile-info">
                <h4>Mauro Maia</h4>
                <p>Web developer / Bad Sysadmin</p>
            </div>
        </div>

        <ul class="menu">

            {% include 'sidebar/basic.twig' %}

            {% include 'sidebar/admin.twig' %}

            {% include 'sidebar/more.twig' %}

        </ul>
    </nav>

</aside>
