<aside class="sidebar sidebar-icons-right sidebar-icons-boxed">
    <header class="sidebar-header">
        <span class="logo">
                <a href=".">
                    <img style="max-height: 48px!important;" src="assets/img/logo.svg"
                         alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">

        <ul class="menu">

            {% include 'sidebar/basic.twig' %}

            {% include 'sidebar/more.twig' %}

        </ul>
    </nav>

</aside>
