
<li class="menu-category">Basic Items</li>

<li class="menu-item">
    <a class="menu-link" href="menu/">
        <span class="icon fa fa-home"></span>
        <span class="title">menu</span>
    </a>
</li>

