{% extends "template.twig" %}

{% block head %}

    <title>Dashboard | {{ app_name }}</title>

    <!--  Open Graph Tags -->
    <meta property="og:title" content="The Slim Template of 2023!">
    <meta property="og:description"
          content="This is a responsive, professional, and multipurpose nagios configuration Generator. Fell free to ask
           for a new feature.">
    <meta property="og:image" content="assets/img/og-img.jpg">
    <meta property="og:url" content="index.html">
    <meta name="twitter:card" content="summary_large_image">

    {{ parent() }}

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            oi
        </div>
    </div>
</div>
{% endblock %}
