<!-- Footer -->
<footer class="site-footer">
	<div class="row">
		<div class="col-md-12">
			<p class="text-center text-md-left">Copyright © {{ 'now' | date('Y') }} <a href="{{ project_owner_url }}">{{ project_owner_name }}</a>. All rights reserved</p>
		</div>
	</div>
</footer>
<!-- END Footer -->