{% extends "base.twig" %}


{% block head %}

    <title>Reset &mdash; Slim</title>

    {{ parent() }}
{% endblock %}

{% block preloader %} {% endblock %}
{% block sidebar %} {% endblock %}
{% block topbar %} {% endblock %}

{% block content %}

{% endblock %}
