<!-- Topbar -->
<header class="topbar">
    <div class="topbar-left">

        <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip" title="Fullscreen">
            <i class="material-icons fullscreen-default">fullscreen</i>
            <i class="material-icons fullscreen-active">fullscreen_exit</i>
        </a>

        <div class="topbar-divider d-none d-md-block"></div>



    </div>
    <div class="topbar-right">
        <a class="btn btn-xs btn-round btn-success mr-2" href="logout">logout</a>
    </div>



</header>
<!-- END Topbar -->
